.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: white;
    width: 800px;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: black;
    font-size: 48px;
    font-weight: 700;
    align-items: center;
}
.underline{
    width: 270px;
    height: 5px;
    background: #EA5455;
    border-radius: 10px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: bisque;
    border-radius: 5px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: bisque;
    font-size: 18px;
}
.forgot-password{
    align-items: center;
    padding-left: 250px;
    margin-top: 27px;
    color: black;
    font-size: 18px;
}
.forgot-password span{
    color: #EA5455;
    cursor: pointer;
}