.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: white;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: black;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 60px;
    height: 5px;
    background: #EA5455;
    border-radius: 10px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}