.house {
    display: flex;
    position: relative;
    top: -150px;
    left: 1280px;
}

.profile {
    display: flex;
    position: relative;
    top: -198px;
    left: 1350px;
}

.search {
    display: flex;
    position: relative;
    top: -180px;
    left: 300px;
    text-align: center;
}

.my {
    display: flex;
    position: relative;
    top: -150px;
    left: 300px;
}

.other {
    display: flex;
    position: relative;
    top: -193px;
    left: 900px;
}
