.formInput{
    display: flex;
    flex-direction: column;
    width: 500px;
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
    background-color: papayawhip;
}


label{
    font-size: 12px;
    color: black;
    font-style: oblique;
    font-family: Verdana;

}

span{
    font-size: 12px;
    padding: 3px;
    color: #EA5455;
    display: none;
    font-weight: bold;
}

input:invalid[focused="true"]{
    border: 2px #EA5455;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

.underline {
    width: 100px;
    height: 2px; /* Adjust height as needed */
    background-color: #EA5455; /* Change color to black */
    margin-bottom: 20px; /* Adjust margin as needed */
}